<!DOCTYPE html>
<html lang="en">
  <title>Result Table</title>
  <head>
    <link href="../static/main.css" rel="stylesheet" type=text/css>
  </head>
    <body>
      <div class="container">
        <h1>Super Geocoder</h1>
        <h3>Please upload your CSV file. The values containing addresses should be in a column named <i>address</i> or <i>Address</i></h3>
          <div class="table">
            {{table | safe}}
            {% include btn ignore missing %}
        </div>
      </div>
    </body>
</html>
